<h>wifi/BT 测试记录</h>


<h1>新增用户列表</h1>

<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
    <input type="submit" value="Vote">
</form>

<h1>用户列表</h1>

<table  border="1" >
    <tr>
        <td>ID</td>
        <td>记录时间</td>
        <td>用户ID</td>
        <td>用户名</td>
        <td>用户信息</td>
    </tr>

    {% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.record_time }}</td>
        <td>{{ user.user_id }}</td>
        <td>{{ user.user_name }}</td>
        <td>{{ user.user_info }}</td>
    </tr>  
    {% empty %}
    <tr> no user yet!</tr>   
    {% endfor %}

</table>


