

<div   >
    <table style="font-size:60%;" border="1" >
        <thread>
            <th>NO.</th>
            <th>场景描述</th>
            <th>蓝牙连接耗时</th>
            <th>蓝牙传输耗时</th>
            <th>结果</th>
            <th>蓝牙fail信息</th>
            <th>备注</th>
    
        </thread>
    
        {% for record in test_tool_report %}
        <tr>
            <td>{{ record.test_No }}</td>
            <td>{{ record.test_des }}</td>
            <td>{{ record.socket_cnn }}</td>
            <td>{{ record.socket_trans }}</td>
            <td>{{ record.result }}</td>
            <td ><font color="red">{{ record.bt_fail }}</font>  </td>
            <td>{% if record.remark_info != 'null' %}record.remark_info{% endif %}</td>
 
        </tr>
        {% empty %}
        <tr> no user yet!</tr>   
        {% endfor %}
    
    </table>



    <div id='fail_detail_part' style="display:none">
        <h4 id='fail_count_part_title'>Fail Count 详细信息</h4>    
        <div id='fail_count_details_div'></div>
    </div>

    </div> 