
<div> 
    {% if test_id_table %}
        <p><label>测试场景：</label> {{ test_id_table.env }}</p>
        <p><label>PC信息：</label> {{ test_id_table.pc }}</p>
        <p><label>手机信息：</label> {{ test_id_table.phone }}</p>

    {% endif %}

</div>




<div  style="font-size:60%;" border="1" >
    <table border="1" >
        <thread>
            <th>NO.</th>
            <th>场景描述</th>
            <th>蓝牙连接耗时</th>
            <th>蓝牙传输耗时</th>
            <th>结果</th>
            <th>蓝牙fail信息</th>
            <th>备注</th>
    
        </thread>
    
        {% for record in test_tool_report %}
        <tr>
            <td>{{ record.test_No }}</td>
            <td>{{ record.test_des }}</td>
            <td>{{ record.socket_cnn }}</td>
            <td>{{ record.socket_trans }}</td>
            <td>{{ record.result }}</td>
            <td ><font color="red">{{ record.bt_fail }}</font>  </td>
            <td>{% if record.remark_info != 'null' %} record.remark_info {% endif %}</td>
 
        </tr>
        {% empty %}
        <tr> no user yet!</tr>   
        {% endfor %}
    
    </table>

</div> 