
<div >
    {% if result %}
    <div>
        <p>result</p>
    </div> 
    {% endif %}
    
    <form action="/uservote/adduser/" method="post">
        {% csrf_token %}
        <p>用户ID：
            <input type="text" name='user_id' id='1'  value='' placeholder='user_id'>
        </p>
        <p>姓名：
            <input type="text" name='user_name' id='2' value='' placeholder='Henry'> 
        </p>
        <p>用户信息：
            <input type="text" name='user_info' id='3' value='' placeholder='user_info'>
        </p>
    
        <input type="submit" value="新增用户" >
    </form>
    
</div>