
<script type="text/javascript">
 
    function updateUserSht(){
        $("#ShowUserSht").load('/uservote/ShowUserSht/');
    }

    $(".readdetailbtn").click(function() {
        var btnvalue = this.value;
        console.log(btnvalue);
        $('#debug').append('<p>'+ btnvalue + '</p>')

        var deleteurl='/uservote/'+btnvalue +'/ShowUserDetail/'
        $.get(deleteurl, function(result){
            $("#ShowUserSht").html(result)
          });
    })
    
    $(".adddetailbtn").click(function() {
        var btnvalue = this.value;
        console.log(btnvalue);
        $('#debug').append('<p>'+ btnvalue + '</p>')

        var deleteurl='/uservote/'+btnvalue +'/ShowAddUserDetailHtml/'
        $.get(deleteurl, function(result){
            $("#showadduserdetail").html(result)
          });
    })

    $(".deletebtn").click(function() {
        var btnvalue = this.value;
        console.log(btnvalue);
        $('#debug').append('<p>'+ btnvalue + '</p>')

        var deleteurl='/uservote/'+btnvalue +'/delete/'
        $.get(deleteurl, function(result){
            $("#ShowUserSht").html(result)
          });

    })
</script>



<div id='userdetailshthtml'>

<h3>用户[{{ user_name }}]详细记录</h3>   

<table  border="1" >
    <tr>
        <td>ID</td>
        <td>记录时间</td>
        <td>现在居住地</td>
        <td>身体状态</td>

        <td>编辑</td>
    </tr>

    {% for detail in details %}
    <tr>
        <td>{{ detail.id }}</td>
        <td>{{ detail.detail_record_time|date:"Y-m-d H:i:s" }}</td>
        <td>{{ detail.current_location }}</td>
        <td>{{ detail.is_ok }}</td>
 
        <td>
            
            <button type='button' class='deletebtn'     onclick='deleteevent()' value='{{ user.id }}'>删除</button>
            <button type='button' style="display:none"  class='editbtn'       onclick='editevent()' value='{{ user.id }}'>编辑</button>
           
        </td>
    </tr>  
    {% empty %}
    <tr> no user yet!</tr>   
    {% endfor %}

</table>
</div> 
    